<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_info[:title] %></title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet">
    <style media="screen" type="text/css">
     <%= page_info[:styles] %>
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  </head>

  <body>
    <div id="main">
      <div class="container">
	<div id="summary" class="row">
	  <div id="count" class="widget col-md-2">
	    <span class="counter"><%= test_info[:count] %></span>
	    <span class="metric">Tests Run</span>
	  </div>
	  <div id="assertions" class="widget col-md-2">
	    <span class="counter"><%= test_info[:assertions] %></span>
	    <span class="metric">Assertions</span>
	  </div>
	  <div id="failures" class="widget col-md-2">
	    <span class="counter"><%= test_info[:failures] %></span>
	    <span class="metric">Failed</span>
	  </div>
	  <div id="errors" class="widget col-md-2">
	    <span class="counter"><%= test_info[:errors] %></span>
	    <span class="metric">Errors</span>
	  </div>
	  <div id="skips" class="widget col-md-2">
	    <span class="counter"><%= test_info[:skips] %></span>
	    <span class="metric">Skipped</span>
	  </div>
	</div>

	<div class="row">
	  <h2>Test Results</h2>

	  <div id="test-results" class="col-md-8">
	    <% test_info[:results].each do |result| %>
	      <div class="result clearfix <%= result[:class] %>">
		<span class="outcome-name">
		  <%= result[:outcome].upcase %>: <%= result[:name] %>
		</span>
		<span class="time"><%= sprintf("%.2f", result[:time] * 1000.0) %> ms</span>
		<div class="failure-details">
		  <%= result[:result] %>
		</div>
	      </div>
	    <% end %>
	  </div>

	  <div id="charts" class="col-md-4">
	    <h3>Results by Type</h3>
	    <canvas id="results-by-type"></canvas>
	  </div>
	</div>
      </div>
    </div>
    <script>
     // Results by type pie chart
     var resultsByTypeData = [
       {
	 label: "Failures",
	 color: "#bd0000",
	 highlight: "#ed0000",
	 value: <%= test_info[:failures] %>
	},
       {
	 label: "Errors",
	 color: "#b34100",
	 highlight: "#cc4b00",
	 value: <%= test_info[:errors] %>
	},
       {
	 label: "Skips",
	 color: "#006e99",
	 highlight: "#00a8eb",
	 value: <%= test_info[:skips] %>
	},
       {
	 label: "Passed",
	 color: "#009e18",
	 highlight: "#00d620",
	 value: <%= test_info[:count] - test_info[:skips] - test_info[:errors] - test_info[:failures] %>
	}
     ];

     var ctx = document.getElementById("results-by-type").getContext("2d");
     var resultsByTypeChart = new Chart(ctx).Pie(resultsByTypeData);
    </script>
  </body>
</html>
